# Build test directory
__build

# Runtime environment
runtime
runtime_wsl

# PyCharm projects
.idea

# Python Cache
__pycache__
*.pyc

# Configuration File
fairy/config.py

# History Storage
fairy/storage
