# Build test directory
__build

# Runtime environment
runtime
runtime_wsl

# PyCharm projects
.idea

# Python Cache
__pycache__
*.pyc

# Configuration Files
fairy/config/*.py

# History Storage
fairy/storage

# Web asserts
fairy/web/static/assert
fairy/web/static/model